In [6]:
import pandas as pd
import numpy as np 


df1=pd.read_csv("tmdb_5000_credits.csv")
df2=pd.read_csv("tmdb_5000_movies.csv")

In [7]:
df1.columns = ['id','tittle','cast','crew']
df2= df2.merge(df1,on='id')

In [8]:
df2.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,tittle,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [10]:
column_values = df2['production_companies'].unique()
print(column_values)

['[{"name": "Ingenious Film Partners", "id": 289}, {"name": "Twentieth Century Fox Film Corporation", "id": 306}, {"name": "Dune Entertainment", "id": 444}, {"name": "Lightstorm Entertainment", "id": 574}]'
 '[{"name": "Walt Disney Pictures", "id": 2}, {"name": "Jerry Bruckheimer Films", "id": 130}, {"name": "Second Mate Productions", "id": 19936}]'
 '[{"name": "Columbia Pictures", "id": 5}, {"name": "Danjaq", "id": 10761}, {"name": "B24", "id": 69434}]'
 ...
 '[{"name": "Asylum Films", "id": 10571}, {"name": "FM Entertainment", "id": 26598}, {"name": "Eagle Eye Films Inc.", "id": 40739}]'
 '[{"name": "Front Street Pictures", "id": 3958}, {"name": "Muse Entertainment Enterprises", "id": 6438}]'
 '[{"name": "rusty bear entertainment", "id": 87986}, {"name": "lucky crow films", "id": 87987}]']

In [12]:
import json

# Replace values in a specific column
df2['production_companies'] = df2['production_companies'].apply(lambda x: [entry['name'] for entry in json.loads(x)])

# Print the updated column
print(df2['production_companies'])

0       [Ingenious Film Partners, Twentieth Century Fo...
1       [Walt Disney Pictures, Jerry Bruckheimer Films...
2                        [Columbia Pictures, Danjaq, B24]
3       [Legendary Pictures, Warner Bros., DC Entertai...
4                                  [Walt Disney Pictures]
                              ...
4798                                  [Columbia Pictures]
4799                                                   []
4800    [Front Street Pictures, Muse Entertainment Ent...
4801                                                   []
4802         [rusty bear entertainment, lucky crow films]
Name: production_companies, Length: 4803, dtype: object

In [20]:
import numpy as np


# Count the number of rows with missing values or empty list in the 'production_companies' column
count = df2['production_companies'].apply(lambda x: x == '[]').sum()


# Print the count
print(count)

0

In [21]:
print(df2['production_companies'])

0       [Ingenious Film Partners, Twentieth Century Fo...
1       [Walt Disney Pictures, Jerry Bruckheimer Films...
2                        [Columbia Pictures, Danjaq, B24]
3       [Legendary Pictures, Warner Bros., DC Entertai...
4                                  [Walt Disney Pictures]
                              ...
4798                                  [Columbia Pictures]
4799                                                   []
4800    [Front Street Pictures, Muse Entertainment Ent...
4801                                                   []
4802         [rusty bear entertainment, lucky crow films]
Name: production_companies, Length: 4803, dtype: object

In [24]:
# Count the number of rows with missing values or empty list in the 'production_companies' column
count = df2['production_companies'].apply(lambda x: x == []).sum()


# Print the count
print(count)

351

In [27]:
df2.to_csv('df2_export.csv', index=False)

In [34]:
import re



non_numeric_values = df2[df2['budget'].apply(lambda x: bool(re.search(r'\D', str(x))))]['budget']
print(non_numeric_values)

Series([], Name: budget, dtype: int64)

In [35]:
# Print all unique values in the 'budget' column
unique_values = df2['budget'].unique()
print(unique_values)

[237000000 300000000 245000000 250000000 260000000 258000000 280000000
 270000000 200000000 255000000 225000000 220000000 380000000 215000000
 180000000 207000000 209000000 150000000 210000000 170000000 190000000
 195000000 105000000 185000000 175000000 140000000 176000003 178000000
 145000000  27000000 165000000 160000000  15000000  38000000 155000000
 149000000 144000000  70000000 100000000 139000000 135000000 130000000
 137000000 120000000 132000000 110000000 125000000 127500000 127000000
 103000000  65000000 123000000 115000000 117000000 113000000  97250400
 116000000 112000000  93000000 107000000         0 133000000 108000000
 126000000  90000000 102000000  80000000  84000000  99000000  10000000
  98000000  94000000  85000000  92000000  95000000  79000000  75000000
  88000000  68000000  20000000  87000000  60000000  50000000  82500000
   8000000  82000000  44000000  86000000  45000000  78000000  76000000
  64000000  73000000  35000000  53000000  55000000  52000000  74000000
  72500000  72000000  74500000  71000000  66000000  69000000  36000000
  67000000  59000000  63000000  61000000  50100000   4200000  43000000
  62000000  58000000  78146652  30000000  68490000  58800000  83000000
  57000000  56000000  54000000  47000000   2000000  46000000  52500000
  40000000  51000000  50200000  48000000  51500000  49900000  22000000
  49000000  25000000       110  44500000   2600000  42000000  31115000
  32000000  31000000  33000000  41000000    500000  63600000  39200000
  39000000  80341000   3860000  37000000  36500000  29000000   1800000
  34000000  10700000   8900000  20500000  41677699  32350000  32500000
  28000000  31500000  30250000  34200000  26000000        30  19000000
  17000000  23000000  18000000  21000000  12000000  35866397  24000000
  27500000        28  25530000  25100000   2800000  25500000  25485000
  21150000  13000000        25  14000000  13500000  41300000   8200000
  23600000  12500000  11000000  22700000  22500000  21500000   9000000
  19800000    806948  19500000   8700000  26500000  27220000  19400000
  19100000  18500000  16000000  16500000   1000000  15238800   2700000
   3500000  17900000  17500000    300000  16800000  16400000  17700000
   6500000  15600000  15500000  15300000   7000000  11500000        15
  92620000   8500000  14600000  14800000  14500000  14200000       108
  18339750  12806000  13300000  13400000  13200000   6000000   3000000
  14350531   3100000  12800000  12300000  12516654   5000000  12400000
   1200000   7500000  10500000        11  10800000   7400000  13800000
  12305523  12600000   6400000   9500000   7700000   3200000  14100000
        10   9600000   9400000  12899867   9300000     85000   5500000
  40600000   8800000   7347125   9250000   8250000   7200000   7800000
  10200000  10284523   7300000   4000000   6600000    700000         7
   6900000   6800000   4800000  12716953   6244087    134005   5952000
   5300000   5800000   3500159   5600000   4361898   3850000   2200000
   5100000   4900000   4100000   3300000   4600000         4   4798235
   4700000   4638783   4500000   4400000   3730500   3250000   3705538
    114000   3600000   1300000   1500000    650000   3950000   3900000
   3800000   3768785    967686   3700000   3716946   3440000   3400000
    600000   4300000   2500000   2400000   3180000   2962051         3
   2900000   2902660   2883848   2777000   2686000   2627000   2159280
   2540800   2380000   2361000   2450000   2300000   2280000   2160000
   2100000    100000         2   1950000   1987650   1900000   1700000
   1530000   1493619   1644736   1650000   1600000         1   1488423
   1400000   1455000   3150000   1377800   1350000   1288000   1250000
    900000   1344000   1100000   1596010    878000    950000   2090000
    913000    910000    930000    852510    858000    850000    800000
    780000    777000    750000    730000       650    625000    609000
     60000    522360    560000     56000    550000    130000   2053648
     46000       500    450000    439000    225000    400000     15000
       218    860000    385907    379000    350000    325000    312000
         8    200000    250000       250    245000    230000    210000
    180000      8000    150000       200    160000    125000    120000
     10000       100     75000     65000     62000     70000     50000
     31192     27000     22000     12000        13     20000      7000
    220000      9000]

In [36]:
# Find the minimum and maximum values in the 'budget' column
min_budget = df2['budget'].min()
max_budget = df2['budget'].max()

# Print the minimum and maximum values
print("Minimum budget:", min_budget)
print("Maximum budget:", max_budget)

Minimum budget: 0
Maximum budget: 380000000

In [42]:
# Sort the 'budget' column in descending order
df_sorted = df2.sort_values('budget', ascending=False)

# Print unique values
unique_values = df_sorted['budget'].unique()
print(unique_values)

print ('***************')

# Get the last 20 rows of the 'budget' column
budget_last_20 = df_sorted['budget'].tail(20)

# Print the last 20 sorted budget values
print(budget_last_20)

[380000000 300000000 280000000 270000000 260000000 258000000 255000000
 250000000 245000000 237000000 225000000 220000000 215000000 210000000
 209000000 207000000 200000000 195000000 190000000 185000000 180000000
 178000000 176000003 175000000 170000000 165000000 160000000 155000000
 150000000 149000000 145000000 144000000 140000000 139000000 137000000
 135000000 133000000 132000000 130000000 127500000 127000000 126000000
 125000000 123000000 120000000 117000000 116000000 115000000 113000000
 112000000 110000000 108000000 107000000 105000000 103000000 102000000
 100000000  99000000  98000000  97250400  95000000  94000000  93000000
  92620000  92000000  90000000  88000000  87000000  86000000  85000000
  84000000  83000000  82500000  82000000  80341000  80000000  79000000
  78146652  78000000  76000000  75000000  74500000  74000000  73000000
  72500000  72000000  71000000  70000000  69000000  68490000  68000000
  67000000  66000000  65000000  64000000  63600000  63000000  62000000
  61000000  60000000  59000000  58800000  58000000  57000000  56000000
  55000000  54000000  53000000  52500000  52000000  51500000  51000000
  50200000  50100000  50000000  49900000  49000000  48000000  47000000
  46000000  45000000  44500000  44000000  43000000  42000000  41677699
  41300000  41000000  40600000  40000000  39200000  39000000  38000000
  37000000  36500000  36000000  35866397  35000000  34200000  34000000
  33000000  32500000  32350000  32000000  31500000  31115000  31000000
  30250000  30000000  29000000  28000000  27500000  27220000  27000000
  26500000  26000000  25530000  25500000  25485000  25100000  25000000
  24000000  23600000  23000000  22700000  22500000  22000000  21500000
  21150000  21000000  20500000  20000000  19800000  19500000  19400000
  19100000  19000000  18500000  18339750  18000000  17900000  17700000
  17500000  17000000  16800000  16500000  16400000  16000000  15600000
  15500000  15300000  15238800  15000000  14800000  14600000  14500000
  14350531  14200000  14100000  14000000  13800000  13500000  13400000
  13300000  13200000  13000000  12899867  12806000  12800000  12716953
  12600000  12516654  12500000  12400000  12305523  12300000  12000000
  11500000  11000000  10800000  10700000  10500000  10284523  10200000
  10000000   9600000   9500000   9400000   9300000   9250000   9000000
   8900000   8800000   8700000   8500000   8250000   8200000   8000000
   7800000   7700000   7500000   7400000   7347125   7300000   7200000
   7000000   6900000   6800000   6600000   6500000   6400000   6244087
   6000000   5952000   5800000   5600000   5500000   5300000   5100000
   5000000   4900000   4800000   4798235   4700000   4638783   4600000
   4500000   4400000   4361898   4300000   4200000   4100000   4000000
   3950000   3900000   3860000   3850000   3800000   3768785   3730500
   3716946   3705538   3700000   3600000   3500159   3500000   3440000
   3400000   3300000   3250000   3200000   3180000   3150000   3100000
   3000000   2962051   2902660   2900000   2883848   2800000   2777000
   2700000   2686000   2627000   2600000   2540800   2500000   2450000
   2400000   2380000   2361000   2300000   2280000   2200000   2160000
   2159280   2100000   2090000   2053648   2000000   1987650   1950000
   1900000   1800000   1700000   1650000   1644736   1600000   1596010
   1530000   1500000   1493619   1488423   1455000   1400000   1377800
   1350000   1344000   1300000   1288000   1250000   1200000   1100000
   1000000    967686    950000    930000    913000    910000    900000
    878000    860000    858000    852510    850000    806948    800000
    780000    777000    750000    730000    700000    650000    625000
    609000    600000    560000    550000    522360    500000    450000
    439000    400000    385907    379000    350000    325000    312000
    300000    250000    245000    230000    225000    220000    210000
    200000    180000    160000    150000    134005    130000    125000
    120000    114000    100000     85000     75000     70000     65000
     62000     60000     56000     50000     46000     31192     27000
     22000     20000     15000     12000     10000      9000      8000
      7000       650       500       250       218       200       110
       108       100        30        28        25        15        13
        11        10         8         7         4         3         2
         1         0]
***************
3506    0
3438    0
3505    0
3503    0
3501    0
3500    0
3496    0
3493    0
3489    0
3486    0
3484    0
3481    0
3480    0
3475    0
3472    0
3465    0
3461    0
3459    0
3452    0
4802    0
Name: budget, dtype: int64

In [51]:
# Count the rows with budget 0
count_low_budget = len(df2[df2['budget'] == 0 ])

# Print the count
print(count_low_budget)

1037

In [52]:
# Count the rows with budget less than 100
count_low_budget = len(df2[df2['budget'] < 100 ])

# Print the count
print(count_low_budget)

1060

In [53]:
#Calculate MDB's weighted rating (wr) which is given as :-
# WR = ((v/(v + m)) * R) + ((v/(v + m)) * C)

#where,

#v is the number of votes for the movie;
#m is the minimum votes required to be listed in the chart;
#R is the average rating of the movie; And
#C is the mean vote across the whole report
#We already have v(vote_count) and R (vote_average) and C can be calculated 

C= df2['vote_average'].mean()
print (C)

# mean rating for all the movies is approx 6 on a scale of 10

6.092171559442016

In [54]:
m = df2['vote_count'].quantile(0.9)
print (m)

1838.4000000000015

In [55]:
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [56]:
# Apply the weighted_rating function to create the 'score' feature
df2['score'] = df2.apply(lambda x: weighted_rating(x, m, C), axis=1)

# Print the updated DataFrame with the 'score' feature
print(df2.head())

      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647
3            http://www.thedarkknightrises.com/   49026
4          http://movies.disney.com/john-carter   49529

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies  ...  \
0  [Ingenious Film Partners, Twentieth Century Fo...  ...
1  [Walt Disney Pictures, Jerry Bruckheimer Films...  ...
2                   [Columbia Pictures, Danjaq, B24]  ...
3  [Legendary Pictures, Warner Bros., DC Entertai...  ...
4                             [Walt Disney Pictures]  ...

                                    spoken_languages    status  \
0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1           [{"iso_639_1": "en", "name": "English"}]  Released
2  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3           [{"iso_639_1": "en", "name": "English"}]  Released
4           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                      title vote_average vote_count  \
0                                    Avatar          7.2      11800
1  Pirates of the Caribbean: At World's End          6.9       4500
2                                   Spectre          6.3       4466
3                     The Dark Knight Rises          7.6       9106
4                               John Carter          6.1       2124

                                     tittle  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                                cast  \
0  [{"cast_id": 242, "character": "Jake Sully", "...
1  [{"cast_id": 4, "character": "Captain Jack Spa...
2  [{"cast_id": 1, "character": "James Bond", "cr...
3  [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4  [{"cast_id": 5, "character": "John Carter", "c...

                                                crew     score
0  [{"credit_id": "52fe48009251416c750aca23", "de...  7.050669
1  [{"credit_id": "52fe4232c3a36847f800b579", "de...  6.665696
2  [{"credit_id": "54805967c3a36829b5002c41", "de...  6.239396
3  [{"credit_id": "52fe4781c3a36847f81398c3", "de...  7.346721
4  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...  6.096368

[5 rows x 24 columns]

In [57]:
# Get the column names
column_names = df2.columns.tolist()

# Print the column names
print(column_names)

['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language', 'original_title', 'overview', 'popularity', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'vote_average', 'vote_count', 'tittle', 'cast', 'crew', 'score']

In [60]:
# Select the desired columns
new_df = df2[['id', 'budget', 'original_language', 'original_title', 'popularity', 'production_companies', 'revenue', 'vote_average', 'vote_count', 'score']]

# Print the new DataFrame
print(new_df.head())

print(new_df.tail(20))

       id     budget original_language  \
0   19995  237000000                en
1     285  300000000                en
2  206647  245000000                en
3   49026  250000000                en
4   49529  260000000                en

                             original_title  popularity  \
0                                    Avatar  150.437577
1  Pirates of the Caribbean: At World's End  139.082615
2                                   Spectre  107.376788
3                     The Dark Knight Rises  112.312950
4                               John Carter   43.926995

                                production_companies     revenue  \
0  [Ingenious Film Partners, Twentieth Century Fo...  2787965087
1  [Walt Disney Pictures, Jerry Bruckheimer Films...   961000000
2                   [Columbia Pictures, Danjaq, B24]   880674609
3  [Legendary Pictures, Warner Bros., DC Entertai...  1084939099
4                             [Walt Disney Pictures]   284139100

   vote_average  vote_count     score
0           7.2       11800  7.050669
1           6.9        4500  6.665696
2           6.3        4466  6.239396
3           7.6        9106  7.346721
4           6.1        2124  6.096368
          id  budget original_language                original_title  \
4783  226458       0                en                      Backmask
4784   24055       0                en               The Puffy Chair
4785  287625       0                en          Stories of Our Lives
4786   44990       0                en              Breaking Upwards
4787   86304       0                en      All Superheroes Must Die
4788     692   12000                en                Pink Flamingos
4789   39851       0                en                         Clean
4790   13898       0                fa                         دایره
4791  157185      13                en                   Tin Can Man
4792   36095   20000                ja                           キュア
4793  182291       0                en                On The Downlow
4794  286939       0                en  Sanctuary: Quite a Conundrum
4795  124606       0                en                          Bang
4796   14337    7000                en                        Primer
4797   67238       0                en                        Cavite
4798    9367  220000                es                   El Mariachi
4799   72766    9000                en                     Newlyweds
4800  231617       0                en     Signed, Sealed, Delivered
4801  126186       0                en              Shanghai Calling
4802   25975       0                en             My Date with Drew

      popularity                               production_companies  revenue  \
4783    3.619167  [GO Productions, Vicarious Entertainment, Bloo...        0
4784    1.243955                                                 []        0
4785    0.327794                                                 []        0
4786    0.674570                                                 []        0
4787    3.545991                                        [Grindfest]        0
4788    4.553644                            [Dreamland Productions]  6000000
4789    1.464566                                                 []        0
4790    1.193779                    [Jafar Panahi Film Productions]        0
4791    0.332679                   [Park Films, Camera Stylo Films]        0
4792    0.212443                                    [Daiei Studios]    99000
4793    0.029757                                 [Iconoclast Films]        0
4794    0.166513            [Gold Lion Films, T-Street Productions]        0
4795    0.918116  [Asylum Films, FM Entertainment, Eagle Eye Fil...        0
4796   23.307949                                        [Thinkfilm]   424760
4797    0.022173                                                 []        0
4798   14.269792                                [Columbia Pictures]  2040920
4799    0.642552                                                 []        0
4800    1.444476  [Front Street Pictures, Muse Entertainment Ent...        0
4801    0.857008                                                 []        0
4802    1.929883       [rusty bear entertainment, lucky crow films]        0

      vote_average  vote_count     score
4783           4.7          79  6.034812
4784           6.2          15  6.093044
4785           0.0           0  6.092172
4786           5.6          12  6.088980
4787           4.2          13  6.078885
4788           6.2         110  6.098259
4789           6.7          17  6.097741
4790           6.6          17  6.096825
4791           2.0           1  6.089947
4792           7.4          63  6.135504
4793           6.0           2  6.092071
4794           0.0           0  6.092172
4795           6.0           1  6.092121
4796           6.9         658  6.305099
4797           7.5           2  6.093701
4798           6.6         238  6.150380
4799           5.9           5  6.091650
4800           7.0           6  6.095125
4801           5.7           7  6.090684
4802           6.3          16  6.093965

In [61]:
#Export the new data frame in a csv file

new_df.to_csv('score_df2_export.csv', index=False)

In [62]:
# Select the desired columns
df2 = df2[['id', 'budget', 'original_language', 'original_title', 'popularity', 'production_companies', 'revenue', 'vote_average', 'vote_count', 'score']]

# Print the new DataFrame
print(df2.head())

print('************************')

print(df2.tail(20))

       id     budget original_language  \
0   19995  237000000                en
1     285  300000000                en
2  206647  245000000                en
3   49026  250000000                en
4   49529  260000000                en

                             original_title  popularity  \
0                                    Avatar  150.437577
1  Pirates of the Caribbean: At World's End  139.082615
2                                   Spectre  107.376788
3                     The Dark Knight Rises  112.312950
4                               John Carter   43.926995

                                production_companies     revenue  \
0  [Ingenious Film Partners, Twentieth Century Fo...  2787965087
1  [Walt Disney Pictures, Jerry Bruckheimer Films...   961000000
2                   [Columbia Pictures, Danjaq, B24]   880674609
3  [Legendary Pictures, Warner Bros., DC Entertai...  1084939099
4                             [Walt Disney Pictures]   284139100

   vote_average  vote_count     score
0           7.2       11800  7.050669
1           6.9        4500  6.665696
2           6.3        4466  6.239396
3           7.6        9106  7.346721
4           6.1        2124  6.096368
************************
          id  budget original_language                original_title  \
4783  226458       0                en                      Backmask
4784   24055       0                en               The Puffy Chair
4785  287625       0                en          Stories of Our Lives
4786   44990       0                en              Breaking Upwards
4787   86304       0                en      All Superheroes Must Die
4788     692   12000                en                Pink Flamingos
4789   39851       0                en                         Clean
4790   13898       0                fa                         دایره
4791  157185      13                en                   Tin Can Man
4792   36095   20000                ja                           キュア
4793  182291       0                en                On The Downlow
4794  286939       0                en  Sanctuary: Quite a Conundrum
4795  124606       0                en                          Bang
4796   14337    7000                en                        Primer
4797   67238       0                en                        Cavite
4798    9367  220000                es                   El Mariachi
4799   72766    9000                en                     Newlyweds
4800  231617       0                en     Signed, Sealed, Delivered
4801  126186       0                en              Shanghai Calling
4802   25975       0                en             My Date with Drew

      popularity                               production_companies  revenue  \
4783    3.619167  [GO Productions, Vicarious Entertainment, Bloo...        0
4784    1.243955                                                 []        0
4785    0.327794                                                 []        0
4786    0.674570                                                 []        0
4787    3.545991                                        [Grindfest]        0
4788    4.553644                            [Dreamland Productions]  6000000
4789    1.464566                                                 []        0
4790    1.193779                    [Jafar Panahi Film Productions]        0
4791    0.332679                   [Park Films, Camera Stylo Films]        0
4792    0.212443                                    [Daiei Studios]    99000
4793    0.029757                                 [Iconoclast Films]        0
4794    0.166513            [Gold Lion Films, T-Street Productions]        0
4795    0.918116  [Asylum Films, FM Entertainment, Eagle Eye Fil...        0
4796   23.307949                                        [Thinkfilm]   424760
4797    0.022173                                                 []        0
4798   14.269792                                [Columbia Pictures]  2040920
4799    0.642552                                                 []        0
4800    1.444476  [Front Street Pictures, Muse Entertainment Ent...        0
4801    0.857008                                                 []        0
4802    1.929883       [rusty bear entertainment, lucky crow films]        0

      vote_average  vote_count     score
4783           4.7          79  6.034812
4784           6.2          15  6.093044
4785           0.0           0  6.092172
4786           5.6          12  6.088980
4787           4.2          13  6.078885
4788           6.2         110  6.098259
4789           6.7          17  6.097741
4790           6.6          17  6.096825
4791           2.0           1  6.089947
4792           7.4          63  6.135504
4793           6.0           2  6.092071
4794           0.0           0  6.092172
4795           6.0           1  6.092121
4796           6.9         658  6.305099
4797           7.5           2  6.093701
4798           6.6         238  6.150380
4799           5.9           5  6.091650
4800           7.0           6  6.095125
4801           5.7           7  6.090684
4802           6.3          16  6.093965

In [63]:
unique_values_lang = new_df['original_language'].unique()
print(unique_values_lang)

['en' 'ja' 'fr' 'zh' 'es' 'de' 'hi' 'ru' 'ko' 'te' 'cn' 'it' 'nl' 'ta'
 'sv' 'th' 'da' 'xx' 'hu' 'cs' 'pt' 'is' 'tr' 'nb' 'af' 'pl' 'he' 'ar'
 'vi' 'ky' 'id' 'ro' 'fa' 'no' 'sl' 'ps' 'el']